// cursorFollower.module.scss
.container {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 9999;
	will-change: transform;
	transition: transform 0.05s linear;
	opacity: 0;
	&.visible {
		opacity: 1;
	}
}

.circle {
	border-radius: 50%;
	background-color: var(--two-black);
	pointer-events: none;
	will-change: width, height, margin;
	transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
	display: flex;
	align-items: center;

	justify-content: center;
	color: var(--snow-white);
}
