.footer {
	padding-top: 100px;
	padding-bottom: 20px;
	background: var(--two-black);
	color: var(--snow-white);
	nav {
		a {
			color: var(--snow-white);
		}
		display: flex;
		gap: 100px;
		justify-content: end;
		padding-bottom: 40px;
		border-bottom: 1px solid var(--b6-gray);
	}
	&__footer {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
		gap: 40px;
		a {
			color: var(--snow-white);
		}
	}
	&__left {
		display: flex;
		gap: 40px;
	}
}

@media (max-width: 1000px) {
	.footer {
		padding-top: 70px;
		nav {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: space-between;
			padding-bottom: 40px;
			border-bottom: 1px solid var(--b6-gray);
		}
		&__footer {
			flex-direction: column;
		}
		&__left {
			flex-direction: column;
			gap: 15px;
		}
	}
}
@media (max-width: 660px) {
	.footer {
		padding-top: 50px;
		nav {
			flex-direction: column;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: space-between;
			padding-bottom: 40px;
			border-bottom: 1px solid var(--b6-gray);
		}
	}
}
