.buttonWrappSection {
	padding: var(--section-padding);
	h2 {
		text-align: center;
		padding-bottom: 70px;
	}
}
@media (max-width: 770px) {
	.buttonWrappSection {
		h2 {
			text-align: center;
			padding-bottom: 30px;
		}
	}
}
