.heroSection {
	width: 100%;
	height: calc(100vh - 101px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--snow-white);
	max-height: 900px;
	video {
		position: absolute;
		width: 100%;
		height: calc(100vh - 101px);
		z-index: 1;
		object-fit: cover;
		object-position: center;
		filter: brightness(0.7);
		max-height: 900px;
	}
	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 70px;
		h1 {
			text-align: center;
			max-width: 1000px;
		}
	}
}

.aboutSection {
	padding: var(--section-padding);
	display: flex;
	gap: 70px;
	h4 {
		color: var(--b6-gray);
		width: 100%;
	}

	&__desc {
		padding-top: 35px;
		display: flex;
		gap: 8px;
		flex-direction: column;
		color: var(--8e-gray);
	}
}

.projectsSection {
	padding: var(--section-padding);
	&__header {
		padding-bottom: 70px;
		display: flex;
	}
	h4 {
		color: var(--b6-gray);
		width: 100%;
	}
	&__projects {
		padding-bottom: 70px;
	}
	&__button {
		text-align: center;
		display: block;
		cursor: pointer;
		background: var(--snow-white);
		padding: 40px 70.5px;
		border-radius: 100px;
		border: 1px solid var(--b6-gray);
		width: fit-content;
		margin: 0 auto;
	}
}

.reviewsSection {
	padding: var(--section-padding);
	h2 {
		text-align: center;
		padding-bottom: 70px;
	}
	&__img {
		object-fit: cover;

		user-select: none;
		width: calc(33.33% - 47.55px);
		height: 700px;
	}
	&__reviewsWrapp {
		display: flex;
		gap: 70px;
		&Footer {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			a {
				display: flex;
				align-items: center;
				cursor: pointer;
				background: var(--snow-white);
				padding: 20px;
				border-radius: 100px;
				border: 1px solid var(--b6-gray);
				width: fit-content;
			}
		}
	}
	&__navigation {
		display: flex;
		align-items: center;
		gap: 30px;
		div {
			cursor: pointer;
		}
		div:first-child {
			svg {
				transform: rotate(180deg);
			}
		}
	}
	&__swiperWrapp {
		display: flex;
		gap: 100px;
		flex-direction: column;
		width: calc(33.33% - 47.55px);
		justify-content: space-between;
	}
	&__swiper {
		width: 100%;
		margin-left: 0 !important;
		h3 {
			padding-bottom: 40px;
		}
	}
	&__slide {
	}
	&__info {
		padding-left: 36px;
		border-left: 1px solid var(--b6-gray);
		display: flex;
		gap: 36px;
		flex-direction: column;

		&Footer {
			display: flex;
			justify-content: space-between;
			a {
				color: var(--b6-gray);
			}
		}
	}
}

.contactSection {
	padding: var(--section-padding);
	&__header {
		display: flex;
		gap: 70px;
		padding-bottom: 70px;
		h4 {
			width: 100%;
			color: var(--b6-gray);
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__menegerWrapp {
		flex: 0 0 32.76%;
		padding: 35px;
		border-left: 1px solid var(--b6-gray);
	}
	&__personInfo {
		width: 100%;
		display: flex;
		gap: 35px;
		padding-bottom: 70px;
		img {
			flex: 0 0 100px;
			height: 100px;
			border-radius: 100%;
			object-fit: cover;
			object-position: 0 0;
		}
	}
	&__personInfoText {
		h3 {
			padding-bottom: 10px;
		}
		p {
			color: var(--b6-gray);
		}
	}
	&__personLinks {
		display: flex;
		gap: 35px;
		a {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
		}
	}
	&__contactInfoWrapp {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 42px;
		width: 48%;
		p {
			width: fit-content;
		}
	}
	&__email {
		a {
			width: fit-content;
		}
		display: flex;
		flex-direction: column;
		gap: 5px;
		span {
			color: var(--8e-gray);
		}
	}
	&__contactInfoLinks {
		display: flex;
		gap: 10px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			background: var(--b6-gray);
		}
	}
}
@media (max-width: 1440px) {
	.reviewsSection {
		&__img {
			height: 100%;
			min-height: 600px;
		}
	}
}
@media (max-width: 1220px) {
	.aboutSection {
		flex-direction: column;
		gap: 50px;
	}
	.projectsSection {
		&__header {
			gap: 50px;
			flex-direction: column;
		}
	}
	.reviewsSection {
		h2 {
			padding-bottom: 50px;
		}
		&__reviewsWrapp {
			justify-content: space-between;
		}
		&__swiperWrapp {
			display: flex;
			gap: 70px;
			flex-direction: column;
			width: calc(50% - 47.55px);
			justify-content: space-between;
		}
		&__img {
			user-select: none;
			width: calc(50% - 47.55px);
			height: 100%;
			min-height: 610px;
		}
	}
	.contactSection {
		&__header {
			display: flex;
			gap: 30px;
			flex-direction: column;
			padding-bottom: 70px;
			h4 {
				width: 100%;
				color: var(--b6-gray);
			}
		}
	}
}

@media (max-width: 770px) {
	.aboutSection {
		gap: 30px;
	}
	.projectsSection {
		&__projects {
			padding-bottom: 30px;
		}
		&__header {
			gap: 30px;
			flex-direction: column;
		}
		&__button {
			padding: 40px 65px;
		}
	}
	.reviewsSection {
		h2 {
			text-align: left;
			padding-bottom: 30px;
		}
		&__reviewsWrapp {
			flex-direction: column;
			gap: 30px;
			width: 100%;
		}
		&__swiperWrapp {
			width: 100%;
			order: 2;
			gap: 30px;
		}
		&__info {
			padding-left: 20px;
			&Footer {
				flex-wrap: wrap;
				gap: 10px;
			}
		}
		&__img {
			width: 100%;
			min-height: auto;
			order: 1;
		}
	}
	.contactSection {
		&__header {
			padding-bottom: 30px;
		}
		&__content {
			flex-direction: column;
		}
		&__contactInfoWrapp {
			gap: 30px;
			width: 100%;
		}
		&__menegerWrapp {
			padding-left: 20px;
		}
	}
}
@media (max-width: 500px) {
	.contactSection {
		&__personInfo {
			flex-direction: column;
			padding-bottom: 30px;
			img {
				width: 120px;
				height: 120px;
			}
		}
	}
}
