.servicesSec {
	padding: var(--section-padding);
	&__header {
		gap: 70px;
		display: flex;
		align-items: start;
		padding-bottom: 70px;
	}
	h1 {
		width: 100%;
	}
	&__titleWrapp {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__desc {
		color: var(--8e-gray);
	}

	&__serviceWrapp {
		width: 100%;
		display: flex;
		padding: 35px 0px;
		border-top: 1px solid var(--b6-gray);
		h2 {
			color: var(--8e-gray);
			width: 100%;
		}
	}
}

.faqSec {
	padding: var(--section-padding);
	&__header {
		display: flex;
		gap: 70px;
		align-items: center;
		padding-bottom: 70px;
		h2 {
			width: 100%;
		}
	}
	&__accordionsWrapp {
		border-top: 1px solid var(--b6-gray);
	}
	&__accordions {
		width: 48%;
		margin-left: auto;
		display: flex;
		flex-direction: column;
	}
}
